<!-- {{realTimeData | json}} -->

<!-- CurrentVal:{{price}}

<input type="button" (click)="updatePrice()" value="Update"/>
<input type="button" (click)="registerEffect()" value="Register effect"/> -->
<!-- <input type="input" [(ngModel)]="firstName" /> -->
 <app-common-grid 
[data]="productGridData" 
[columns]="productGridColums"
(actionOutput)="handleAction($event)">
</app-common-grid>
<a [routerLink]="'add'">Add Product</a>
<!-- <app-cards
[data]="productGridData" 
[columns]="productGridColums"
(actionOutput)="handleAction($event)"
></app-cards> -->
<!-- <router-outlet></router-outlet> -->
<!-- @for (item of productGridData; track $index) {
    <a [routerLink]="['/products', item.id]">{{item.name}}</a>
    <br />
} -->

<!--
{{firstName}}
<div [innerHTML]="5 | starrating">

</div>
<h1> {{ 'Venkat' | wishingpipe | uppercase}}</h1> -->
<!-- {{productGridData[0].price | currency:'CAD':'symbol-narrow':'1.0-5'}}
<br />
{{date | date:'dd/MM/yyyy HH:mm':'UTC'}}
<br />

<br />
<br />
{{(isAdmin? 'Admin User': 'Normal User')| uppercase}}
<br />
@for (item of product | keyvalue; track $index) {
    {{item.key}}:
    {{item.value}} <br />
} -->